# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.*
yarn-error.*
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx

vite.config.*.timestamp*
vitest.config.*.timestamp*

.env
